{
  "openapi": "3.0.1",
  "info": {
    "title": "Calculator APIaabbcc",
    "description": "This is a awsome calculator API.......",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://azure-apim-lab.azure-api.net/calc"
    }
  ],
  "paths": {
    "/add": {
      "post": {
        "tags": [
          "Add"
        ],
        "summary": "Add Numbers",
        "description": "This is the Add Numbers operation",
        "operationId": "addNumbers",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdditionInput"
              },
              "example": {
                "augend": 0,
                "addend": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorResult"
                },
                "example": {
                  "result": 0
                }
              }
            }
          }
        }
      }
    },
    "/add/{augend}/with/{addend}": {
      "get": {
        "tags": [
          "Add"
        ],
        "summary": "Get Numbers Added",
        "description": "This is the Get Numbers Added operation",
        "operationId": "Get-Numbers-Added",
        "parameters": [
          {
            "name": "augend",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "addend",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorResult"
                },
                "example": {
                  "result": 0
                }
              }
            }
          }
        }
      }
    },
    "/subtract/{minuend}/with{subtrahend}": {
      "get": {
        "tags": [
          "Subtract"
        ],
        "summary": "Get Numbers Subtracted",
        "description": "This is the Get Numbers Subtracted operation",
        "operationId": "Get-Numbers-Subtracted",
        "parameters": [
          {
            "name": "minuend",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "subtrahend",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorResult"
                },
                "example": {
                  "result": 0
                }
              }
            }
          }
        }
      }
    },
    "/multiply/{multiplier}/with/{multiplicand}": {
      "get": {
        "tags": [
          "Multiply"
        ],
        "summary": "Get Numbers Multiplied",
        "description": "This is the Get Numbers Multiplied operation",
        "operationId": "GetNumbersMultiplied",
        "parameters": [
          {
            "name": "multiplier",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "multiplicand",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorResult"
                },
                "example": {
                  "result": 0
                }
              }
            }
          }
        }
      }
    },
    "/divide/{dividend}/with/{divisor}": {
      "get": {
        "tags": [
          "Divide"
        ],
        "summary": "Get Numbers Divided",
        "description": "This is the Get Numbers Divided operation",
        "operationId": "GetNumbersDivided",
        "parameters": [
          {
            "name": "dividend",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "divisor",
            "in": "path",
            "description": "Format - int32.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalculatorResult"
                },
                "example": {
                  "result": 0
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdditionInput": {
        "type": "object",
        "properties": {
          "augend": {
            "type": "integer",
            "format": "int32"
          },
          "addend": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CalculatorResult": {
        "type": "object",
        "properties": {
          "result": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": [ ]
    },
    {
      "apiKeyQuery": [ ]
    }
  ],
  "tags": [
    {
      "name": "Add",
      "description": "Everything about adding numbers",
      "externalDocs": {
        "description": "Find out more...",
        "url": "http://www.microsoft.com/"
      }
    },
    {
      "name": "Subtract",
      "description": "Everything about subtracting numbers",
      "externalDocs": {
        "description": "Find out more...",
        "url": "http://www.microsoft.com/"
      }
    },
    {
      "name": "Multiply",
      "description": "Everything about multiplying numbers",
      "externalDocs": {
        "description": "Find out more...",
        "url": "http://www.microsoft.com/"
      }
    },
    {
      "name": "Divide",
      "description": "Everything about dividing numbers",
      "externalDocs": {
        "description": "Find out more...",
        "url": "http://www.microsoft.com/"
      }
    }
  ]
}